/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


    body {
    text-rendering: optimizeLegibility;
    font-family: rubik;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
    }
/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */
.karta{
    display:flex;
    
    height: 440px;
    width: 670px;
    border-radius: 20px;
    background-color:   #f5f5f5;
    position: relative;
    
}
.leva .nadpis1{
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    margin-top: 15px;

}
 .karta .leva  {
    border-radius: 20px 0px 0px 20px;
    order:1;
    background-image: linear-gradient( to bottom , #06d7c1 , #50cc49);
    flex-shrink: 0;
    flex-grow: 1;
    padding: 40px;
    margin-right: 20px;
    
    
}
.leva img {
 position: absolute;
 left:-100px;
 bottom: -5px;


}
.logo img{
    position:absolute;
    left:30px;
    top:20px;

}
.karta .prava{
    order:2;
    flex-grow: 0;
    flex-shrink: 0;
   margin-right: 30px;
    

}

.cena{
    font-size: 28px;
    font-weight:500 ;
    color:white;
    position:absolute;
    left:180px;
    bottom:50px;
    
}
.zaruka{
    font-size: 12px;
    font-weight: 400;
    color: white;
    position: absolute;
    left:140px;
    bottom:30px;
}
h1{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.nadpis2{
    color:#959595;
}
.nadpis3{
    display: block;
    text-align: left;
}
h2 {
    margin-top: 30px;
    font-weight: 400;
    text-transform:uppercase;
}
.tabulka{
    list-style: none;
    display: flex;
    font-size: 18px;
    
    }
.tabulka li {
     text-align: left;
     margin-inline: 10px;
    
    
}
.tabulka .cislo {
    padding: 5px;
    margin-top:-5px;
    display: flex;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    border-radius: 100%;
    border-color: #f15f42;
    border-width: 1px;
    border-style: solid;
    color: #f15f42;
    }
    .button {
        display: flex;
        text-align: center;

    }
    .button a {
        background-color: #f15f42;
        text-decoration: none;
        color:white;
        text-transform: uppercase;
        display: block;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        padding: 10px; 
        margin-top:5px;
        
    
    }